@model IEnumerable<Advoqt.TestAssignment.Mvc.Models.LocationModel>

@{
    ViewBag.Title = "Weather Finder";
}

<h2>Available Locations</h2>

<table class="table" ng-app="weatherManagement" ng-controller="CityListCtrl as vm">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
        <th>Temperature</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="http://openclipart.org/image/300px/svg_to_png/@item.ImageUrlSuffix"
                     style="width:100px;margin:2px"
                     title="@item.ImageDescription">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <button type="button" class="btn btn-primary" ng-click="vm.showWeather(@item.Id)">
                    Get Weather
                </button>
            </td>
            <td>
                @{
                    var spanId = string.Format("weather{0}", item.Id);
                }
                <span id="@spanId"></span>
            </td>
        </tr>
    }

</table>
@Scripts.Render("~/bundles/app")
